*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#f8c6b8,#e3a99b);
}

.container{
background:#e8bdb1;
padding:40px;
width:420px;
border-radius:20px;
box-shadow:0 20px 40px rgba(0,0,0,0.2);
text-align:center;
}

h1{
color:white;
margin-bottom:30px;
}

.upload-box{
border:2px dashed white;
padding:20px;
margin-bottom:20px;
border-radius:12px;
cursor:pointer;
}

.upload-box label{
display:block;
color:white;
font-size:16px;
margin-bottom:10px;
}

input[type=file]{
color:white;
}

button{
padding:12px 25px;
border:none;
border-radius:10px;
background:white;
font-size:16px;
cursor:pointer;
transition:0.3s;
}

button:hover{
transform:scale(1.05);
}

#result{
margin-top:20px;
font-size:20px;
font-weight:bold;
padding:10px;
border-radius:10px;
display:none;
}